div{
 margin: 5px;
}

#firstdiv{
    margin-left: 47px;
}
#lastdiv{
    margin-left: 45px;
}
#maindiv{
    margin: 250px;
    border-color: black !important;
    border-radius: 10px;
    border-style: solid;
    display: inline-block;

}
#divofvalues{
    margin-left: 65px;
}
#value{
    padding: -10%;
}
input{
    border-radius: 60px;
    padding-right: 150px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color:black;
    color:white;
    background-color: black;
    margin: 20px;
    
}
#label{
    margin-left: 170px;
    font-size: 30px;
    font-weight: bolder;
}
#btns{
    margin-left: 30px;
}
